* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body {
    background-color: #fc4a4a;
}

.top-sidebar {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
}


.logo-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: rgba(28, 17, 41, 0.88);
}



.toggle-theme-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.toggle svg{
    font-size: 1.2rem;
}

.toggle-mobile svg {
    font-size: 1.5rem;
}

.toggle-dark {
    color: rgba(255, 255, 255, 0.65);
    transition: background-color 0.3s, border-color 0.3s; 
}

#toggle-dark-id:hover {
    color: rgba(255, 255, 255, 1.0);
    
}
