* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body {
    background-color: #fc4a4a;
}



.layoutapp {
    height: 100vh;
}


.sidebar-menu {
    overflow: auto;
    position: relative;
    left: 0;
    top: 0;
}


.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
}


.logo-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: rgba(28, 17, 41, 0.88);
}


.menu-bar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    position: relative;
}



.toggle-theme-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.content-main {
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: rgb(12, 12, 12);
}

.contentapp {
    flex-grow: 1;
    background-color: #755e5e;
    margin: 1rem;
    border-radius: 0.7em;
    padding: 1rem;
}